n8n/workflows/cron-daily-digest.json
{
  "name": "WSB · Cron · Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * *" }
          ]
        }
      },
      "id": "d1000000-0001-4000-8000-000000000001",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Compute ISO timestamp = 24h ago, format for Airtable filter\nconst since = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\nreturn [{ json: { since, sinceDate: since.slice(0,10) } }];"
      },
      "id": "d1000000-0001-4000-8000-000000000002",
      "name": "Compute Since",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "apph1Z1U3OU2gBvnL", "mode": "id" },
        "table": { "__rl": true, "value": "tblWkS72GumLM0Npm", "mode": "id" },
        "returnAll": true,
        "filterByFormula": "={{ \"IS_AFTER({Timestamp}, '\" + $json.since + \"')\" }}",
        "sort": {
          "property": [ { "field": "Timestamp", "direction": "asc" } ]
        },
        "options": {}
      },
      "id": "d1000000-0001-4000-8000-000000000003",
      "name": "Fetch AuditLog",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [600, 300],
      "credentials": {
        "airtableTokenApi": { "id": "d7bb546a-a890-48", "name": "WSB · Airtable PAT" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate stats + prepare GPT analysis payload.\nconst items = $input.all().map(i => i.json).filter(r => r && r.fields).map(r => r.fields);\nconst total = items.length;\n\nif (total === 0) {\n  return [{ json: { empty: true, total: 0 } }];\n}\n\n// Group by user\nconst byUser = {};\nfor (const r of items) {\n  const u = r.TelegramUserId || 'unknown';\n  byUser[u] = byUser[u] || { userId: u, count: 0, intents: {}, msgs: [] };\n  byUser[u].count++;\n  const it = r.Intent || 'unknown';\n  byUser[u].intents[it] = (byUser[u].intents[it] || 0) + 1;\n  byUser[u].msgs.push({\n    ts: (r.Timestamp || '').slice(11, 19),\n    intent: it,\n    conf: r.Confidence || null,\n    text: (r.MessageText || '').slice(0, 140),\n    transcript: r.Transcript || '',\n    bot: (r.ResultMessage || '').slice(0, 140),\n  });\n}\n\n// Overall intent distribution\nconst intentsDist = {};\nlet confSum = 0, confN = 0;\nfor (const r of items) {\n  const it = r.Intent || 'unknown';\n  intentsDist[it] = (intentsDist[it] || 0) + 1;\n  if (typeof r.Confidence === 'number') { confSum += r.Confidence; confN++; }\n}\nconst avgConf = confN ? (confSum / confN) : null;\n\n// Detect reformulations: same user, within 2 min, similar text length\nconst reformulations = [];\nconst sortedByUser = {};\nfor (const r of items) {\n  const u = r.TelegramUserId || 'u';\n  sortedByUser[u] = sortedByUser[u] || [];\n  sortedByUser[u].push(r);\n}\nfor (const u in sortedByUser) {\n  const arr = sortedByUser[u].sort((a,b)=>new Date(a.Timestamp)-new Date(b.Timestamp));\n  for (let i = 1; i < arr.length; i++) {\n    const t1 = new Date(arr[i-1].Timestamp);\n    const t2 = new Date(arr[i].Timestamp);\n    const dtMin = (t2 - t1) / 60000;\n    if (dtMin <= 2 && dtMin > 0) {\n      // Consider it a likely reformulation\n      reformulations.push({\n        user: u,\n        prev: { ts: arr[i-1].Timestamp, text: arr[i-1].MessageText, intent: arr[i-1].Intent },\n        curr: { ts: arr[i].Timestamp, text: arr[i].MessageText, intent: arr[i].Intent },\n      });\n    }\n  }\n}\n\n// Low confidence entries\nconst lowConf = items.filter(r => typeof r.Confidence === 'number' && r.Confidence < 0.7).map(r => ({\n  ts: r.Timestamp,\n  text: (r.MessageText || r.Transcript || '').slice(0, 140),\n  intent: r.Intent,\n  conf: r.Confidence,\n}));\n\n// Unknown intents\nconst unknowns = items.filter(r => r.Intent === 'unknown' || r.Intent === 'clarify').map(r => ({\n  ts: r.Timestamp,\n  text: (r.MessageText || r.Transcript || '').slice(0, 140),\n  intent: r.Intent,\n}));\n\nconst stats = {\n  total,\n  users: Object.keys(byUser).length,\n  byUser: Object.values(byUser),\n  intentsDist,\n  avgConf: avgConf !== null ? Math.round(avgConf * 100) / 100 : null,\n  reformulations: reformulations.slice(0, 15),\n  lowConfCount: lowConf.length,\n  lowConf: lowConf.slice(0, 10),\n  unknownCount: unknowns.length,\n  unknowns: unknowns.slice(0, 10),\n};\n\nreturn [{ json: { empty: false, stats } }];"
      },
      "id": "d1000000-0001-4000-8000-000000000004",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.empty }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1000000-0001-4000-8000-000000000005",
      "name": "IF empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build GPT analysis request.\nconst stats = $input.first().json.stats;\n\nconst systemPrompt = `Ты — аналитик, который разбирает логи Telegram-бота по стройке за прошедшие 24 часа и пишет краткую сводку для разработчика на русском языке.\n\nТвоя задача:\n1. Описать активность: сколько сообщений, от скольких пользователей, какие интенты преобладают.\n2. Выявить ПРОБЛЕМЫ: переформулировки (=пользователь не получил ответ и переспросил), низкая уверенность GPT, unknown-интенты.\n3. Предложить конкретные УЛУЧШЕНИЯ промпта или логики (паттерны, шаблоны фраз, новые интенты).\n\nТон: деловой, по существу, без воды. Фокус на actionable-советы.\nДлина итогового отчёта: не больше 1500 символов (влезать в одно Telegram-сообщение).\nФормат: Markdown с emoji для разделов.`;\n\nconst userContent = `Данные за последние 24 часа:\\n\\n${JSON.stringify(stats, null, 2)}\\n\\nСоставь краткую сводку для разработчика: активность, проблемы, предложения по улучшению.`;\n\nconst body = {\n  model: 'gpt-5',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userContent }\n  ]\n};\n\nreturn [{ json: { openaiBody: body, stats } }];"
      },
      "id": "d1000000-0001-4000-8000-000000000006",
      "name": "Build Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openaiBody) }}",
        "options": {}
      },
      "id": "d1000000-0001-4000-8000-000000000007",
      "name": "GPT Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400],
      "credentials": {
        "openAiApi": { "id": "963f25ea-a99b-4a", "name": "WSB · OpenAI" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract GPT summary text and compose final Telegram message.\nconst stats = $('Build Analysis Prompt').first().json.stats;\nconst gpt = $input.first().json;\nlet summary = '';\ntry { summary = gpt.choices[0].message.content || '(пусто)'; } catch(e) { summary = 'Ошибка парсинга ответа GPT'; }\n\nconst intentsLines = Object.entries(stats.intentsDist)\n  .sort((a,b)=>b[1]-a[1])\n  .map(([k,v]) => `  • ${k}: ${v}`)\n  .join('\\n');\n\nconst header = `📊 *Сводка за прошедшие 24 часа*\\n\\n• Сообщений: *${stats.total}*\\n• Пользователей: *${stats.users}*\\n• Средняя уверенность GPT: *${stats.avgConf !== null ? Math.round(stats.avgConf*100)+'%' : 'н/д'}*\\n• Переформулировок: *${stats.reformulations.length}*\\n• Низкая уверенность (<70%): *${stats.lowConfCount}*\\n• Unknown/clarify: *${stats.unknownCount}*\\n\\n*Распределение интентов:*\\n${intentsLines}\\n\\n━━━━━━━━━━━━━━━\\n\\n${summary}`;\n\nreturn [{ json: { chatId: '584268213', text: header } }];"
      },
      "id": "d1000000-0001-4000-8000-000000000008",
      "name": "Compose Telegram Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true,
          "appendAttribution": false
        }
      },
      "id": "d1000000-0001-4000-8000-000000000009",
      "name": "Send Digest to Owner",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1800, 400],
      "credentials": {
        "telegramApi": { "id": "54054404-0389-4a", "name": "WSB · Telegram Bot" }
      }
    },
    {
      "parameters": {
        "chatId": "584268213",
        "text": "🌙 За последние 24 часа бот не получил ни одного сообщения. Всё тихо.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "d1000000-0001-4000-8000-000000000010",
      "name": "Send Empty Note",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 200],
      "credentials": {
        "telegramApi": { "id": "54054404-0389-4a", "name": "WSB · Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Schedule": { "main": [[{ "node": "Compute Since", "type": "main", "index": 0 }]] },
    "Compute Since": { "main": [[{ "node": "Fetch AuditLog", "type": "main", "index": 0 }]] },
    "Fetch AuditLog": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "IF empty", "type": "main", "index": 0 }]] },
    "IF empty": {
      "main": [
        [{ "node": "Send Empty Note", "type": "main", "index": 0 }],
        [{ "node": "Build Analysis Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Build Analysis Prompt": { "main": [[{ "node": "GPT Analyze", "type": "main", "index": 0 }]] },
    "GPT Analyze": { "main": [[{ "node": "Compose Telegram Msg", "type": "main", "index": 0 }]] },
    "Compose Telegram Msg": { "main": [[{ "node": "Send Digest to Owner", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": {},
  "pinData": {},
  "versionId": "v1"
}
